@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #f8f6f0;
}

.quizHome {
    position: relative;
    height: 100vh;
    background-image: url(../images/SLIDER-IMAGE-01-01-01.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.quiz {
    position: relative;
    height: 100vh;
    background-image: url(../images/tech.jpg);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.overlayQuiz {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(1, 48, 66, 0.75);

}

.headerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto 20px;
    width: 70%;
}

.headerText p {
    font-size: 22px;
    color: #ddd;
    margin-bottom: 30px;
    /* font-weight: 600; */
    word-spacing: 2px;
    line-height: 30px;

}

nav {
    background-color: #013453;
    display: flex;
    position: relative;
}


nav h1 {
    font-weight: 500;
    margin: 0px;
    /* padding: 10px; */
    font-size: 24px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.question {
    font-size: 30px;
    margin-bottom: 10px;
}

.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #51b64b;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

button:hover {
    background-color: #2992d0
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
}





.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}



.testBtn {
    background-color: #51b64b;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 22px;
    color: #fef;

}

.headText {
    margin-bottom: 80px;
}

a.testBtn {
    text-decoration: none;
}

.headerText h3 {
    margin-top: 50px;
    color: #ccc;
}

.textRed {
    color: red;
}

.textGreen {
    color: green;
}

#score {
    margin-bottom: 20px;
}

#counter {
    font-size: 35px;
}

#timer {
    font-size: 40px;
    background-color: #013453;
    display: inline-block;
    color: white;
    padding: 3px 6px;
}